<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TartanHacks25</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header class="title-header">
    <div class="header-left">
        <img src="title.jpg" alt="artwork" width="75" height="75">
        <div class="title">
            <h1 id="title">VIRTUAL MUSEUM</h1>
        </div>
    </div>
    <div class="nav-box">
            <div class="dropdown">
                <button class="dropbtn" id="dropbtn">Filter</button>
                <div class="dropdown-content" id="dropdown-content">
                    <button class="clear-filter" id="filter0">Clear Filters</button>
                    <button class="filter-option" id="filter1">The American Wing</button>
                    <button class="filter-option" id="filter2">Modern and Contemporary Art</button>
                    <button class="filter-option" id="filter3">Arms and Armor</button>
                </div>
            </div>
            <div class="quiz">
                <a href="quiz.html">
                    <button class="quizbtn">Test Yourself</button>
                </a>
            </div>
    </div>
</header>

<header class="work-header">
    <h2>NAME OF WORK</h2>
</header>

<div class="main-container">
    <div class="col-1">
        <div class="button-box">
            <div>
                <button class="leftbuttons" onclick="location.href='./random'">I'm Feeling Lucky</button>
            </div>
            <div>
                <button class="leftbuttons" onclick="location.href='./similar<{{ department}}|{{ medium}} >'">Give Me Something Similar</button>
            </div>
            <div>
                <button class="leftbuttons" onclick="location.href='./artist'">Something Else by artist name</button>
            </div>
            <div>
                <button class="leftbuttons" onclick="location.href='./department<{{ department }}>'">Keep Exploring department</button>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="image-box">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Armchair_MET_DP341697.jpg" alt="artwork" class="artwork">
        </div>
      <p class="style">STYLE/YEAR or PERIOD</p>
    </div>
    <div class="col-3">
      <h3>An Overview</h3>
      <p>Text Here</p>
      <h3>Artist</h3>
      <p class="artist-name">NAME HERE</p>
      <div class="artist-box">
        <img src="picasso.jpg" alt="artist" class="artist">
      </div>
      <p class="artist-desc">DESCRIPTION HERE</p>
    </div>
</div>

<div id="loadingscreen" class="loadingscreen">
    <img class="loading" src="loading.jpg">
</div>

<script src="script.js"></script>
</body>
</html>