<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TartanHacks25</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"></head>
<body>
<header class="title-header">
    <div class="header-left">
        <img src="{{ url_for('static', filename='title.jpg')}}" alt="artwork" width="75" height="75">
        <div class="title">
            <h1 id="title">VIRTUAL MUSEUM</h1>
        </div>
    </div>
    <div class="nav-box">
        <div class="home">
            <a href="./">
                <button class="homebtn">Homepage</button>
            </a>
        </div>
    </div>
</header>

<header class="work-header">
    <h2>{{ title }}</h2>
</header>

<div class="main-container">
    <div class="col-1">
        <div class="button-box">
            <div>
                <button onclick="location.href='./quiz.html<0,{{qwb}}|{{score}}|{{num}}>'">Rembrandt</button>
            </div>
            <div>
                <button onclick="location.href='./quiz.html<1,{{qwb}}|{{score}}|{{num}}>'">Auguste Renoir</button>
            </div>
            <div>
                <button onclick="location.href='./quiz.html<2,{{qwb}}|{{score}}|{{num}}>'">Paul Cézanne</button>
            </div>
            <div>
                <button onclick="location.href='./quiz.html<3,{{qwb}}|{{score}}|{{num}}>'">Vincent van Gogh</button>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="image-box">
            <img src="{{ img_url }}" alt="artwork" class="artwork">
        </div>
        <p class="style">European Paintings</p>
    </div>
    <div class="col-3">
        <h3 class="quizstats">How well do you know European Artists?</h3>
        <h3 class="quizstats">Question #{{ num }}</h3>
        <h3 class="quizstats">Score: {{ score }}/{{ num2 }}</h3>
    </div>
</div>