<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TartanHacks25</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header class="title-header">
    <div class="header-left">
        <img src="title.jpg" alt="artwork" width="75" height="75">
        <div class="title">
            <h1 id="title">VIRTUAL MUSEUM</h1>
        </div>
    </div>
    <div class="nav-box">
            <div class="home">
                <a href="index.html">
                    <button class="homebtn">Homepage</button>
                </a>
            </div>
    </div>
</header>

<header class="work-header">
    <h2>NAME OF WORK</h2>
</header>

<div class="main-container">
    <div class="col-1">
        <div class="button-box">
        <div>
            <button>artist1</button>
        </div>
        <div>
            <button>artist2</button>
        </div>
        <div>
            <button>artist3</button>
        </div>
        <div>
            <button>artist4</button>
        </div>
        </div>
    </div>
    <div class="col-2">
        <div class="image-box">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Armchair_MET_DP341697.jpg" alt="artwork" class="artwork">
        </div>
        <p class="style">STYLE/YEAR or PERIOD</p>
    </div>
    <div class="col-3">
        <h3 class="quizstats">How well do you know European Artists?</h3>
        <h3 class="quizstats">Question _/15</h3>
        <h3 class="quizstats">Score: x</h3>
    </div>
</div>