@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-width: 748px;
    min-height: 600px;
    font-family: "Liter";
    margin: 0;
}

h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

h3 {
    margin: 5px;
}

button {
    height: 50px;
    width: 150px;
    background-color: #fff;
    padding: 0px 10px;
    margin: 15px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 1mm;
    font-family: "Liter";
}

.title {
    margin-top: 13px;
    margin-left: 10px;
}

.title-header {
    display: flex;
    flex-direction: row;
    background-color: #e90128;
    color: #FFF;
    padding: 10px;
}

.main-container {
    text-align: center;
    justify-content: center;
    vertical-align: bottom;
    display: flex;
    flex-direction: row;
}

.work-header {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 750px;
    width: calc(60vw - 60px);
    min-width: 320px;
}

.image-box {
    height: min(430px, calc(70vh - 40px));
    min-height: 300px;
    width: calc(60vw - 60px);
    min-width: 320px;
}

.artist-box {
    height: 180px;
    margin: 10px;
}

.artist {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.artwork{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.style {
    margin-top: 30px;;
}

.col-1, .col-3 {
    width: min(200px, 60vw - 120px);
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.col-1 {
    margin-bottom: 60px;
}

.col-3 {
    margin-bottom: 30px;
}

button:hover {
    background-color: #f6f6f6;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 748px;
    min-height: 600px;
}

h1 {
    margin-left: 18px;
    font-size: 56px;
    color: #333;
}

h2 {
    padding: 3px 3px 4px;
    font-size: 20px;
    border-style: solid;
    border-color: #666;
    border-width: 0px 0px 2px;
}

.number {
    margin-left: 24px;
    margin-right: 8px;
    width: 6px;
}

header {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-bottom-style: solid;
    border-bottom-color: #666;
    border-bottom-width: 1px;
}

.first-header {
    height: 96px;
    padding: 10px 12px;
    align-items: end;
    position: relative;
}

.title {
    text-align: left;
    vertical-align: bottom;
    display: flex;
    flex-direction: row;
    min-width: 265px;
}

#replicaText {
    vertical-align: bottom;
    margin: 6px 3px;
    font-size: 14px;
    min-width: 126px;
}

.logo-container {
    position: absolute;
    right: 18px;
    bottom: 10px;
}

#logo {
    height: 56px;
}

.timer {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 122px;
}

.timer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 12px;
    font-size: 14px;
    color: #333;
    height: 50px;
}

.timer-placeholder {
    flex-grow: 1;
}

#timerDisplay {
    padding: 0 10px;
    width: 60px;
    margin: 0;
    justify-content: center;
}

.control-buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.resetdropdown-content, .checkdropdown-content, .revealdropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #fafafa;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.control-buttons button {
    height: 50px;
    width: 70px;
    background-color: #fff;
    color: #333;
    border: none;
    padding: 0px 10px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0px;
}

#pause {
    height: 50px;
    width: 62px;
    padding: 0px 6px;
    background-color: #fff;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0px;
    color: #333;
    border: none;
}

#reset-btn:hover, #check-btn:hover, #reveal-btn:hover, #puzzlereset-btn:hover, #puzzletimerreset-btn:hover, #squarecheck-btn:hover, #wordcheck-btn:hover, #puzzlecheck-btn:hover, #squarereveal-btn:hover, #wordreveal-btn:hover, #puzzlereveal-btn:hover, #pause:hover {
    background-color: #f6f6f6;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 146px);
    gap: 20px;
    min-height: 432px;
    min-width: 748px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 80px); 
    grid-template-rows: repeat(5, 80px);
    height: 408px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #666;
    user-select: none;
    box-sizing: content-box;
}

.square {
    width: 80px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    font-size: 56px;
    margin: auto;
}

.row1, .row2 {
    background-color: #ffaeae;
}

.row3 {
    background-color: #c0c0c0;
}

.row4, .row5 {
    background-color: #eee;
}

.blank {
    background-color: #fff;
}

.clues-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 412px;
}

.across-clues,
.down-clues {
    width: 300px;
    height: 198px;
    overflow: auto;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#a1, #a2, #a3, #d1, #d2 {
    display: flex;
    flex-direction: row;
    height: 38px;
    align-items: center;
}

.highlight {
    background-color: lightblue;
}

.complete {
    color: #888;
}

.square:focus {
    outline: none;
}

.square.focused {
    outline: 2px solid #3498db;
    background-color: yellow;
}

.correct {
    color: #3498db;
}

.incorrect {
    color: #db3434;
}

.show {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 540px;
    height: 540px;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */
